body{
	font-family: segoe UI;
}
#navbar{
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	background: #FE7272;
	font-size: 17pt;
	text-align: center;
	box-shadow: 0 4px 2px #A0522D;

}
a{
	transition: 1s;
}
#navbar a:link{
	text-decoration: none;
	color: white;

}
#navbar a:visited{
	text-decoration: none;
	color: white;
}
#navbar a:hover{
	text-decoration: underline;
}
#navlist{
	list-style-type: none;
}
li{
	display: inline;
	margin-right: 30px;
}
main{
	margin: 20px auto;
	margin-top: 100px;
	width: 70%;
	background: url(STOPWATCH/bg.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
	color: white;
	padding: 1%;
}
#header{
	border: 1px solid #FF7274;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	margin: -5px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: white;
}
#line{
	height: 3px;
	background: white;
	margin-top: 7px;
}
table{
	margin: 20px auto;
	font-size: 500%;
	text-align: center;
	font-family: lcd;
}
button:active{
	transform: translateY(4px);
}
#lap{
	cursor: pointer;
	background: unset;
	border-style: none;
	transition: 1s;
}
#lap:hover{
	
	background: #E172AF;
	border: 2px solid white;
}
#start{
	border-radius: 100%;
	border: 2px solid white;
	background: #E172AF;
	padding: 10px;
	cursor: pointer;
	transition: 1s;
}
#start:hover{
	background: white;
}
#pause{
	border-radius: 100%;
	border: 2px solid white;
	background: #E172AF;
	padding: 10px;
	position: relative;
	transition: 1s;
	
	display: none;
	margin-left: -79px;
}
#pause:hover{
	background: white;
}
#reset{
	cursor: pointer;
	background: unset;
	border-style: none;
	transition: 1s;
}
#reset:hover{
	
	background: #E172AF;
	border: 2px solid white;
}
#lap1{
	margin-top: 5%;
	font-family: lcd;
	font-size: 150%;
	column-count: 7;
	height: 20px;
	border-top: 2px dashed white;
	border-bottom: 2px dashed white;
	overflow: scroll;
}
